{% extends 'base.html'%}

{% block title %}ADD AvivaReis{% endblock %}

{% block main %}
<div class="form-group col-md-4">
    <label for="inputState">Город</label>
    <select id="inputState" class="form-control">
      <option selected>Самара</option>
      <option>Москва</option>
      <option>Санкт-Петербург</option>
      <option>Уфа</option>
      <option>Волгоград</option>
    </select>
    <div class="form-group col-md-4">
        <label for="inputState">Дата</label>
        <select id="inputState" class="form-control">
          <option selected>1.1.1.1</option>
          <option>2.2.2.2</option>
        </select>
        
{% endblock %