<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="header between">
        <nav class="menu between">
            {% if session.get('user') != None %}
            <a href="/exit">EXIT</a>
            {% endif %}
        </nav>
    </header>
    <header class="header between">
        <nav class="menu between">
            {% if session.get('admin') != None %}
            <a href="/exit">EXIT</a>
            <a href="/addNewAir">Добавление Билетов</a>
            <a htef="/Newaddmin">Добавление Админа</a>
            {% endif %}
        </nav>
    </header>
    {% block main %}
    
    {% endblock %}
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <footer>
        <p>(c) Смолькин Матвей & Георгий Малащицкий</p>
    </footer>
</body>
</html> 